<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- begin::Head -->

<head>
	<title>Admin | TopShoe</title>
	<th:block th:insert="~{admin/fragments/common :: global_css}"></th:block>
	<!-- begin :: Page CSS -->
	<th:block th:fragment="page_css">
		<link href="assets/css/template/order-detail.css" rel="stylesheet" type="text/css" />
	</th:block>
	<!-- end :: Page CSS -->
</head>

<!-- end::Head -->

<!-- begin::Body -->

<body
	class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--fixed kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">

	<!-- begin:: Page -->

	<!-- begin:: Header Mobile -->
	<div th:replace="~{admin/fragments/header :: header_mobile}"></div>
	<!-- end:: Header Mobile -->

	<div class="kt-grid kt-grid--hor kt-grid--root">
		<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

			<!-- begin:: Aside -->
			<div th:replace="~{admin/fragments/sidebar}"></div>
			<!-- end:: Aside -->

			<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

				<!-- begin:: Header -->
				<div th:replace="~{admin/fragments/header :: header}"></div>
				<!-- end:: Header -->

				<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
					<!-- begin :: Content -->
					<th:block th:fragment="content">
						<div class="kt-portlet kt-portlet--mobile">
							<div class="kt-portlet__head kt-portlet__head--lg">
								<div class="kt-portlet__head-label">
									<span class="kt-portlet__head-icon">
										<i class="kt-font-brand flaticon2-line-chart"></i>
									</span>
									<h3 class="kt-portlet__head-title">
										Đơn Hàng #<span id="order_id" th:text="${orderWeb.id}"></span> - <span
											th:text="${orderWeb.deliveryStatus == 'unprocessed' ? 'Chưa xét duyệt' : ''}"></span>
										<span
											th:text="${orderWeb.deliveryStatus == 'delivery' ? 'Đang giao hàng' : ''}"></span>
										<span
											th:text="${orderWeb.deliveryStatus == 'delivery2' ? 'Đang giao hàng lần 2' : ''}"></span>
										<span
											th:text="${orderWeb.deliveryStatus == 'successful' ? 'Giao hàng thành công' : ''}"></span>
										<span
											th:text="${orderWeb.deliveryStatus == 'wait' ? 'Chờ giao hàng' : ''}"></span>
									</h3>
								</div>
								<div class="kt-portlet__head-toolbar">
									<div class="kt-portlet__head-wrapper">
										<a href="#" class="btn btn-clean btn-icon-sm d-none">
											<i class="la la-long-arrow-left"></i>
											Quay lại
										</a>
										&nbsp;
										<div class="dropdown dropdown-inline" th:if="${hasCancelled}">
											<button type="button" class="btn btn-danger btn-icon-sm"
												id="cancel_order_header">
												<i class="flaticon2-trash"></i> Hủy đơn hàng
											</button>
										</div>
									</div>
								</div>
							</div>
							<div class="kt-portlet__body">

								<div class="row order_web_info">
									<div class="col-12 col-md-6">
										<div class="row">
											<div class="col-5 col-md-4 lbl_title">Người nhận hàng:</div>
											<div class="col-7 col-md-8" th:text="${orderWeb.consignee}"></div>
										</div>
									</div>
									<div class="col-12 col-md-6">
										<div class="row">
											<div class="col-5 col-md-4 lbl_title">Số điện thoại:</div>
											<div class="col-7 col-md-8" th:text="${orderWeb.consigneePhone}"></div>
										</div>
									</div>
									<div class="col-12 col-md-6">
										<div class="row">
											<div class="col-5 col-md-4 lbl_title">Địa chỉ nhận hàng:</div>
											<div class="col-7 col-md-8" th:text="${orderWeb.deliveryAddress}"></div>
										</div>
									</div>
									<div class="col-12 col-md-6">
										<div class="row">
											<div class="col-5 col-md-4 lbl_title">Hình thức thanh toán:</div>
											<div class="col-7 col-md-8" th:text="${orderWeb.paymentMethod}">ATM</div>
										</div>
									</div>
									<div class="col-12 col-md-6">
										<div class="row">
											<div class="col-5 col-md-4 lbl_title">Trạng thái thanh toán:</div>
											<div class="col-7 col-md-8" th:text="${orderWeb.paymentStatus}">ATM</div>
										</div>
									</div>
									<div class="col-12 col-md-6">
										<div class="row">
											<div class="col-5 col-md-4 lbl_title">Trạng thái vận chuyển:</div>
											<div class="col-7 col-md-8"
												th:text="${orderWeb.deliveryStatus == 'unprocessed' ? 'Chưa xét duyệt' : ''}">
											</div>
											<div class="col-7 col-md-8"
												th:text="${orderWeb.deliveryStatus == 'delivery' ? 'Đang giao hàng' : ''}">
											</div>
											<div class="col-7 col-md-8"
												th:text="${orderWeb.deliveryStatus == 'delivery2' ? 'Đang giao hàng lần 2' : ''}">
											</div>
											<div class="col-7 col-md-8"
												th:text="${orderWeb.deliveryStatus == 'successful' ? 'Giao hàng thành công' : ''}">
											</div>
											<div class="col-7 col-md-8"
												th:text="${orderWeb.deliveryStatus == 'wait' ? 'Chờ giao hàng' : ''}">
											</div>

										</div>
									</div>
								</div>

								<hr class="action_hr">
								<div class="row delivery_status_action">
									<div class="col-12 d-none">
										<h4>Thay đổi trạng thái:</h4>
									</div>
									<div class="col-12">
										<button th:each="action : ${actions}" type="button"
											th:class="${'btn_change_status btn ' + action.className}"
											th:status="${action.status}" th:text="${action.title}"></button>
										<a href="#" class="btn btn-clean btn-icon-sm undo_action"
											th:status="${undoAction}" th:if="${undoAction != ''}">
											<i class="la la-long-arrow-left"></i>
											Quay lại trạng thái trước
											<!-- 						<span th:text="${undoAction}"></span> -->
										</a>
									</div>
								</div>

							</div>
							<div class="kt-portlet__body kt-portlet__body--fit">

								<!--begin: Datatable -->
								<table class="kt-datatable" id="html_table" width="100%">
									<thead>
										<tr>
											<th title="Field #1">Sản phẩm</th>
											<th title="Field #2">Size</th>
											<th title="Field #3">Giá</th>
											<th title="Field #4">Số lượng</th>
											<th title="Field #5">Tạm tính</th>
											<th title="Field #4">Phiên bản</th>
										</tr>
									</thead>
									<tbody>
										<!-- <tr th:each="item : ${orderWeb.orderWebDetails}"
											th:with="product=${item.productSize.Product}">
											<td><a th:href="${'/product/' + product.id}" th:text="${product.name}"></a>
											</td>
											<td th:text="${item.productSize.size}"></td>
											<td th:text="${orderWeb.formatPrice(item.price)}"></td>
											<td th:text="${item.quantity}"></td>
											<td align="right" th:text="${orderWeb.formatPrice(item.totalAmount)}"></td>
											<td th:text="${product.versionName}"></td>
										</tr> -->
									</tbody>
									<tfoot>
										<tr>
											<td colspan="4" align="right">Tổng tiền:</td>
											<td align="right" th:text="${orderWeb.formatPrice(orderWeb.totalAmount)}">
											</td>
										</tr>
										<tr>
											<td colspan="4" align="right">Phí vận chuyển:</td>
											<td align="right" th:text="${orderWeb.formatPrice(orderWeb.deliveryFee)}">
											</td>
										</tr>
										<tr>
											<td colspan="4" align="right">Giảm giá:</td>
											<td align="right" th:text="${orderWeb.formatPrice(orderWeb.discount)}"></td>
										</tr>
										<tr class="total_amount">
											<td colspan="4" align="right">Tổng thanh toán:</td>
											<td align="right"
												th:text="${orderWeb.formatPrice(orderWeb.totalAmount + orderWeb.deliveryFee - orderWeb.discount)}">
											</td>
										</tr>
									</tfoot>
								</table>


								<!--end: Datatable -->
							</div>
						</div>
					</th:block>
					<!-- end :: Content -->

				</div>
			</div>
		</div>

		<!-- end:: Page -->
	</div>
</body>

<!-- end::Body -->

</html>