<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- begin::Head -->

<head>
	<title>Admin | TopShoe</title>
	<th:block th:insert="~{admin/fragments/common :: global_css}"></th:block>

</head>

<!-- end::Head -->

<!-- begin::Body -->

<body
	class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--fixed kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">

	<!-- begin:: Page -->

	<!-- begin:: Header Mobile -->
	<div th:replace="~{admin/fragments/header :: header_mobile}"></div>
	<!-- end:: Header Mobile -->

	<div class="kt-grid kt-grid--hor kt-grid--root">
		<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

			<!-- begin:: Aside -->
			<div th:replace="~{admin/fragments/sidebar}"></div>
			<!-- end:: Aside -->

			<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

				<!-- begin:: Header -->
				<div th:replace="~{admin/fragments/header :: header}"></div>
				<!-- end:: Header -->

				<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

					<!-- begin :: Content -->
					<th:block th:fragment="content">
						<!-- begin::Model update status-->
						<!-- Modal -->
						<div th:each="product : ${products}" class="modal fade" th:id="'updateStatus'+${product.id}"
							tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel" th:text="${product.name}">Thay
											đổi trạng thái sản phẩm</h5>
										<p></p>
										<button type="button" class="btn-close" data-bs-dismiss="modal"
											aria-label="Close"></button>
									</div>
									<div class="modal-body">
										Lưu ý: Việc thay đổi trạng thái sản phẩm sẽ ảnh hưởng đến việc hiển thị sản phẩm
										trên trang web. <br>
										Vui lòng chọn trạng thái phù hợp.<br>
										Chọn nút "Đang bán" nếu sản phẩm đang được bán, hoặc "Ngưng bán" nếu sản phẩm
										không còn được bán nữa.

									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bỏ
											qua</button>
										<button th:id="'sale-status'+${product.id}" type="button"
											class="btn btn-primary">Đang bán</button>
										<button th:id="'stop-sale-status'+${product.id}" type="button"
											class="btn btn-danger">Ngừng
											bán</button>
									</div>
								</div>
							</div>
						</div>
						<!-- end::Model update status-->

						<!-- begin:Modal delete-->
						<div th:each="product : ${products}" class="modal fade" th:id="'deleteModal'+${product.id}"
							tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h1 class="modal-title" id="exampleModalLabel"
											th:text="'Bạn có chắc chắn muốn xoá '+${product.name}+ ' ?'"> </h1>

										<button type="button" class="btn-close" data-bs-dismiss="modal"
											aria-label="Close"></button>
									</div>
									<div class="modal-body text-center" th:text="'Người dùng : '+${username}">
										<!-- Đưa user name admin vào đây-->
									</div>
									<div class="modal-footer">
										<!-- <form th:action="@{/admin/products/{id}(id=${product.id})}" method="post"> -->


										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bỏ
											qua</button>
										<button th:id="'delete'+${product.id}" type="submit"
											class="btn btn-danger">Xoá</button>
										<!-- </form> -->
									</div>
								</div>
							</div>
						</div>
						<!-- end::Model delete-->

						<div class="kt-portlet kt-portlet--mobile">
							<div class="kt-portlet__head kt-portlet__head--lg">
								<div class="kt-portlet__head-label">
									<span class="kt-portlet__head-icon">
										<i class="kt-font-brand flaticon2-line-chart"></i>
									</span>
									<h3 class="kt-portlet__head-title">
										Danh Sách Sản Phẩm
									</h3>
								</div>
								<div class="kt-portlet__head-toolbar">
									<div class="kt-portlet__head-wrapper">
										<a href="#" class="btn btn-clean btn-icon-sm">
											<i class="la la-long-arrow-left"></i>
											Quay Lại
										</a>
										&nbsp;
										<div class="dropdown dropdown-inline">
											<button type="button" class="btn btn-brand btn-icon-sm"
												onclick="redirectToAddProduct()">
												<i class="flaticon2-plus"></i> Thêm Mới
											</button>
										</div>
									</div>
								</div>
							</div>
							<div class="kt-portlet__body">

								<!--begin: Search Form -->
								<div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
									<div class="row align-items-center">
										<div class="col-xl-8 order-2 order-xl-1">
											<div class="row align-items-center">
												<div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
													<div class="kt-input-icon kt-input-icon--left">
														<input type="text" class="form-control"
															placeholder="Tìm kiếm..." id="generalSearch">
														<span class="kt-input-icon__icon kt-input-icon__icon--left">
															<span><i class="la la-search"></i></span>
														</span>
													</div>
												</div>
												<div class="col-md-4 kt-margin-b-20-tablet-and-mobile ">
													<div class="kt-form__group kt-form__group--inline">
														<div class="kt-form__label">
															<label>Trạng thái:</label>
														</div>
														<div class="kt-form__control">
															<select class="form-control bootstrap-select"
																id="kt_form_status">
																<option value="">Tất cả</option>
																<option value="Dang ban">Đang bán</option>
																<option value="Ngung ban">Ngưng bán</option>
															</select>
														</div>
													</div>
												</div>
												<div class="col-md-4 kt-margin-b-20-tablet-and-mobile ">
													<div class="kt-form__group kt-form__group--inline">
														<div class="kt-form__label">
															<label>Chương trình:</label>
														</div>
														<div class="kt-form__control">
															<select class="form-control bootstrap-select"
																id="kt_form_type">
																<option value="">Tất cả</option>
																<option value="1">Giảm giá</option>
																<option value="2">Không giảm giá</option>
															</select>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-xl-4 order-1 order-xl-2 kt-align-right">
											<a href="#" class="btn btn-default kt-hidden">
												<i class="la la-cart-plus"></i> New Order
											</a>
											<div
												class="kt-separator kt-separator--border-dashed kt-separator--space-lg d-xl-none">
											</div>
										</div>
									</div>
								</div>

								<!--end: Search Form -->

								<!--begin: Datatable -->
								<!-- Table data start -->
								<!-- <div class="container mt-5"> -->

								<table class="kt-datatable" id="html_table" style="width: 100%;">

								</table>
								<!-- </div> -->
								<!-- Table data end -->
							</div>
						</div>

						<!-- begin:: Footer -->
						<div th:replace="~{admin/fragments/footer}"></div>
						<!-- end:: Footer -->

					</th:block>
					<!-- end :: Content -->
				</div>
			</div>
		</div>

		<!-- end:: Page -->

		<!-- begin::Quick Panel -->
		<div th:replace="~{admin/fragments/header :: quick_panel}"></div>
		<!-- end::Quick Panel -->

		<!-- begin::Scrolltop -->
		<div id="kt_scrolltop" class="kt-scrolltop">
			<i class="fa fa-arrow-up"></i>
		</div>

		<!-- end::Scrolltop -->

		<th:block th:insert="~{admin/fragments/common :: global_script}" type="text/javascript"></th:block>
		<!--begin :: Page Script (used by this page) -->
		<!--end :: Page Script -->
		<script th:inline="javascript">
			function redirectToAddProduct() {
				window.location.href = '/admin/products/create';
			}
			function redirectToUpdateProduct(id) {
				window.location.href = '/admin/products/update/' + id;
			}
			var idProductStatus = 0;
			var idProductDelete = 0;
			var idProductUpdate = 0; // Biến toàn cục để lưu ID sản phẩm cần cập nhật

			var productData = [[${ products }]] // Lấy dữ liệu users từ model của Spring Boot

			var datatable = $('#html_table').KTDatatable({
				data: {
					type: 'local', // Dữ liệu được load từ local (client-side)
					source: productData, // Truyền dữ liệu vào đây
					pageSize: 10, // Số lượng record trên mỗi trang
					saveState: { // Lưu trạng thái datatable vào localStorage
						cookie: true,
						webstorage: true,
					},
				},
				// layout definition
				layout: {
					scroll: false,
					footer: false,
				},

				// column sorting
				sortable: true,

				pagination: true,

				search: {
					input: $('#generalSearch'),
					delay: 500,
				},

				// columns definition
				columns: [
					{
						field: 'id',
						title: '#',
						sortable: 'asc',
						width: 40,
						type: 'number',
						selector: false,
						textAlign: 'center',
					},
					{
						field: 'name',
						title: 'Tên sản phẩm',
					},
					{
						field: 'versionName',
						title: 'Phiên bản',
					},
					{
						field: 'price',
						title: 'Giá bán',
						template: function (row) {
							return row.price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
						}
					},

					{
						field: 'status',
						title: 'Trạng thái',
						// callback function support for column rendering
						template: function (row) {
							var status = {
								'Tat ca': { 'title': 'Tất cả', 'state': 'primary' },
								'Đang bán': { 'title': 'Đang bán', 'state': 'success' },
								'Ngừng bán': { 'title': 'Ngừng bán', 'state': 'danger' },
							};
							return '<span class="kt-badge kt-badge--' + status[row.status].state + ' kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-' + status[row.status].state + '">' +
								status[row.status].title + '</span>';
						},
					},
					{
						field: 'Actions',
						title: 'Hành động',
						sortable: false,
						width: 130,
						// overflow: 'visible',
						textAlign: 'center',
						template: function (row, index, datatableElement) {
							// console.log(datatableElement.dataSet[index]);
							var idData = datatableElement.dataSet[index].id;
							var dropup = (datatableElement.getPageSize() - index) <= 4 ? 'dropup' : '';
							return '<div class="dropdown ' + dropup + ' ">\
		                        <a href="#" class="btn btn-clean btn-icon btn-pill " data-toggle="dropdown">\
		                            <i class="la la-ellipsis-h"></i>\
		                        </a>\
		                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown">\
		                            <a class="dropdown-item" href="/admin/products/update/'+ idData + '"><i class="la la-edit"></i> Cập nhật chi tiết</a>\
		                            <button id="update-status" type="button" data-bs-toggle="modal" data-bs-target="#updateStatus' + idData + '" class="dropdown-item" ><i class="la la-leaf"></i> Cập nhật trạng thái</button>\
		                            <a class="dropdown-item" href="#"><i class="la la-print"></i> Xuất hoá đơn</a>\
		                        </div>\
		                    </div>\
		                    <button id="updateButton" type="button" class="btn btn-clean btn-icon btn-pill" title="Cập nhật">\
		                        <i id="updateButtonIcon" class="la la-edit"></i>\
		                    </button>\
		                    <button id="deleteButton" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal' + idData + '"  class="btn btn-clean btn-icon btn-pill" title="Xoá">\
		                        <i id="deleteButtonIcon" class="la la-trash"></i>\
		                    </button>';
						},
					}
				],
			});
			document.addEventListener("DOMContentLoaded", function () {
				document.addEventListener('hide.bs.modal', function (event) {
					if (document.activeElement) {
						document.activeElement.blur();
					}
				});
			});
			// Xử lý sự kiện click cho các nút trong mỗi dòng
			document.addEventListener('click', (e) => {
				if (e.target && (e.target.id === 'update-status')) {
					var row = $(e.target).closest('tr'); // Lấy dòng hiện tại
					idProductStatus = row.find('td:first').text(); // Lấy ID sản phẩm từ cột đầu tiên
					console.log(idProductStatus)
				}
			})
			document.addEventListener('click', (e) => {
				if (e.target && (e.target.id === 'deleteButton' || e.target.id === 'deleteButtonIcon')) {
					var row = $(e.target).closest('tr'); // Lấy dòng hiện tại
					idProductDelete = row.find('td:first').text(); // Lấy ID sản phẩm từ cột đầu tiên
					console.log(idProductDelete)
				}
			})
			document.addEventListener('click', (e) => {
				if (e.target && (e.target.id === 'updateButton' || e.target.id === 'updateButtonIcon')) {
					var row = $(e.target).closest('tr'); // Lấy dòng hiện tại
					idProductUpdate = row.find('td:first').text(); // Lấy ID sản phẩm từ cột đầu tiên
					console.log(idProductUpdate)
				}
			})
			// Thêm sự kiện click cho nút Cập nhật trong mỗi dòng
			document.addEventListener('click', function (e) {
				if (e.target && (e.target.id === 'updateButton' || e.target.id === 'updateButtonIcon')) {
					// Thực hiện cập nhật trạng thái sản phẩm ở đây
					console.log("Cập nhật sản phẩm có ID: " + idProductUpdate);
					redirectToUpdateProduct(idProductUpdate); // Chuyển hướng đến trang cập nhật sản phẩm
				}
			});
			// Thêm sự kiện click cho nút Xoá trong mỗi dòng
			document.addEventListener('click', function (e) {
				// console.log(idProductDelete)
				if (e.target && e.target.id === ('delete' + idProductDelete)) {
					// Thực hiện cập nhật trạng thái sản phẩm ở đây
					console.log("Xoá sản phẩm có ID: " + idProductDelete);
					// sử dụng AJAX để gửi yêu cầu xoá sản phẩm đến server
					$.ajax({
						url: '/admin/products/' + idProductDelete, // URL cập nhật trạng thái
						type: 'POST', // Phương thức POST
						success: function (response) {
							console.log(response);
							$('#deleteModal' + idProductDelete).modal('hide'); // Đóng modal sau khi cập nhật thành công
							// Xử lý phản hồi từ server 
							// Cập nhật lại datatable
							passDataToTable(response); // Gọi hàm passDataToTable để cập nhật lại datatable
						},
						error: function (error) {
							console.error("Lỗi khi cập nhật trạng thái sản phẩm:", error);
						}
					});
				}
			});
			// Thêm sự kiện click cho nút "Cập nhật trạng thái" trong mỗi dòng
			document.addEventListener('click', function (e) {
				if (e.target && e.target.id === ('stop-sale-status' + idProductStatus)) {
					// Thực hiện cập nhật trạng thái sản phẩm ở đây
					console.log("Cập nhật trạng thái cho sản phẩm có ID: " + idProductStatus);
					// Có thể sử dụng AJAX để gửi yêu cầu cập nhật trạng thái đến server
					$.ajax({
						url: '/admin/products/stop-sale/' + idProductStatus, // URL cập nhật trạng thái
						type: 'POST', // Phương thức POST
						success: function (response) {
							console.log(response);
							$('#updateStatus' + idProductStatus).modal('hide'); // Đóng modal sau khi cập nhật thành công
							// Xử lý phản hồi từ server 
							// Cập nhật lại datatable
							passDataToTable(response); // Gọi hàm passDataToTable để cập nhật lại datatable

						},
						error: function (error) {
							console.error("Lỗi khi cập nhật trạng thái sản phẩm:", error);
						}
					});
				}
			});
			// Cập nhật lại datatable
			function passDataToTable(response) {
				$('#html_table').KTDatatable("destroy"); // Hủy datatable hiện tại
				var productData = response// Lấy dữ liệu sản phẩm mới từ model của Spring Boot
				datatable.options.data.source = productData; // Cập nhật dữ liệu mới
				datatable = $('#html_table').KTDatatable(datatable.options); // Khởi tạo lại datatable với dữ liệu 
			}

			$('#kt_form_status').on('change', function () {
				datatable.search($(this).val().toLowerCase(), 'status');
			});

			$('#kt_form_type').on('change', function () {
				datatable.search($(this).val().toLowerCase(), 'Type');
			});


		</script>
	</div>
</body>

<!-- end::Body -->

</html>