<footer>
	<div class="tt-footer-default tt-color-scheme-02">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-9">
					<div class="tt-newsletter-layout-01">
						<div class="tt-newsletter">
							<div class="tt-mobile-collapse">
								<h4 class="tt-collapse-title">
									THAM GIA VỚI CHÚNG TÔI:
								</h4>
								<div class="tt-collapse-content">
									<form id="newsletterform" class="form-inline form-default" method="post" novalidate="novalidate" action="#">
										<div class="form-group">
											<input type="text" name="email" class="form-control" placeholder="Nhập e-mail của bạn">
											<button type="submit" class="btn">THAM GIA</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-auto">
					<ul class="tt-social-icon">
						<li><a class="icon-g-64" target="_blank" href="http://www.facebook.com/"></a></li>
						<li><a class="icon-h-58" target="_blank" href="http://www.facebook.com/"></a></li>
						<li><a class="icon-g-66" target="_blank" href="http://www.twitter.com/"></a></li>
						<li><a class="icon-g-67" target="_blank" href="http://www.google.com/"></a></li>
						<li><a class="icon-g-70" target="_blank" href="https://instagram.com/"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="tt-footer-col tt-color-scheme-01">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-2 col-xl-3">
					<div class="tt-mobile-collapse">
						<h4 class="tt-collapse-title">
							DANH MỤC
						</h4>
						<div class="tt-collapse-content">
							<ul class="tt-list">
								<li><a href="listing-collection.html">Giày Sneaker</a></li>
								<li><a href="listing-collection.html">Giày Da</a></li>
								<li><a href="listing-collection.html">Giày Thể Thao</a></li>
								<li><a href="listing-collection.html">Giày Cổ Điển</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-2 col-xl-3">
					<div class="tt-mobile-collapse">
						<h4 class="tt-collapse-title">
							THÔNG TIN
						</h4>
						<div class="tt-collapse-content">
							<ul class="tt-list">
								<li><a href="account_order.html">Đơn Hàng</a></li>
								<li><a href="page404.html">Danh Sách Yêu Thích</a></li>
								<li><a href="/customer/login">Đăng Nhập</a></li>
								<li><a href="/signup">Đăng Ký</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 col-xl-3">
					<div class="tt-mobile-collapse">
						<h4 class="tt-collapse-title">
							TRIẾT LÝ CỬA HÀNG
						</h4>
						<div class="tt-collapse-content">
							<p>
								TOPSHOE cung cấp những giá trị ĐÍCH THỰC cho khách hàng và các đối tác kinh doanh để thu về những lợi nhuận "sạch", xứng đáng với nỗ lực và công sức của cả tập thể công ty TOPSHOE. Bởi chúng tôi tin rằng đó là giá trị cốt lõi để duy trì sự phát triển bền vững của doanh nghiệp.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 col-xl-3">
					<div class="tt-newsletter">
						<div class="tt-mobile-collapse">
							<h4 class="tt-collapse-title">
								LIÊN HỆ
							</h4>
							<div class="tt-collapse-content">
								<address>
									<p><span>Địa Chỉ:</span> 77 Xuân La - Tây Hồ - Hà Nội</p>
									<p><span>SĐT:</span> 0964856293</p>
									<p><span>Mở Cửa:</span> 7 Ngày trong tuần, Từ 8h-20 Hàng ngày</p>
									<p><span>E-mail:</span> <a href="mailto:info@mydomain.com">topshoe@gmail.com</a></p>
								</address>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<a href="#" class="tt-back-to-top">BACK TO TOP</a>