<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Chúng tôi</title>
	<meta name="keywords" content="About">
	<meta name="description" content="About - TopShoe">
	<meta name="author" content="TopShoe">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<base th:replace="shopper/fragments/common :: base">
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="css/theme.css">
	<link rel="stylesheet" href="css/toastr.min.css">
</head>
<body>

<!-- header -->
<header th:replace="shopper/fragments/header"></header>

<div class="tt-breadcrumb">
	<div class="container">
		<ul>
			<li><a href="/index">Trang Chủ</a></li>
			<li>CỬA HÀNG</li>
		</ul>
	</div>
</div>
<div id="tt-pageContent">
	<div class="container-fluid">
		<div class="tt-slick-slider arrow-slick-main">
			<div class="tt-slick-main-item">
				<img src="images/banners/banner_1.jpg" alt="">
				<div class="tt-description tt-point-h-r">
					<div class="tt-description-wrapper">
						<div class="tt-title-small"><span class="tt-base-color">Ready To</span></div>
						<div class="tt-title-large"><span class="tt-white-color">TopShoe<br></span></div>


					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-indent">
		<div class="container container-fluid-custom-mobile-padding">
			<div class="tt-block-title">
				<h1 class="tt-title">VỀ CHÚNG TÔI</h1>
			<p>TOPSHOE - thương hiệu đã trở nên gần gũi và quen thuộc với người tiêu dùng yêu thích thời trang của Việt Nam trong hơn 10 năm qua.

				Là doanh nghiệp kinh doanh bán lẻ ngành hàng thời trang có hệ thống cửa hàng phân phối rộng lớn trên phạm vi cả nước, tập trung chủ yếu tại 2 thành phố lớn: HCM & Hà Nội cùng các thành phố khác có tiềm năng kinh doanh thời trang triển vọng.</p>
				<p>Hình ảnh & sắc màu thương hiệu HOÀNG PHÚC được nhận biết rõ ràng thông qua kiến trúc mái vòm gạch cổ, không gian mua sắm hiện đại, thoáng rộng với các sản phẩm thời trang đa dạng để người tiêu dùng thỏa sức lựa chọn. HOÀNG PHÚC - đã trở thành địa chỉ đỏ của các khách hàng yêu thích thời trang. Họ tìm đến HOÀNG PHÚC với nhu cầu mua sắm các sản phẩm thời trang chất lượng quốc tế và giá cả phù hợp.</p>
				<p>VĂN PHÒNG CHÍNH của chúng tôi tọa lạc tại 77 Xuân La, Phường Xuân La, Tây Hồ, TP. Hà Nội. Địa điểm xây dựng văn phòng lý tưởng nhất với thiết kế đẹp,
					tiện ích cao. Với 1 trong những giá trị kinh doanh là mang lại HẠNH PHÚC cho mọi người, chúng tôi mong muốn môi trường làm việc tại Hoang Phuc International phải là một gia đình thứ hai của tất cả mọi nhân viên. Nơi họ cảm thấy bình an, hạnh phúc và đam mê cống hiến để Hoang Phuc International trở thành nơi làm việc tốt nhất trong sự nghiệp của họ.</p>
			</div>
			<div class="tt-block-title">
				<h1 class="tt-title">SỨ MỆNH VÀ TẦM NHÌN</h1>
				<div class="tt-description">SỨ MỆNH CỦA TOPSHOE</div>
				<p>Mang lại sự tự tin cho mọi người.</p>
				<p>Mang lại hạnh phúc cho mọi người.</p>
				<p>Thông qua việc stylist thời trang, làm cho mọi người trở nên đẹp hơn, tự tin hơn và hạnh phúc từ đó được tạo ra và gia tăng.</p>
				<div class="tt-description">TẦM NHÌN</div>
				<p>Trở thành công ty Việt Nam đầu tiên sở hữu các thương hiệu thời trang thuộc sở hữu trí tuệ riêng mình với phạm vi phân phối rộng trên thị trường thế giới. Trong khi tiếp tục dẫn dắt thị trường trong nước với các sản phẩm thời trang quốc tế đang được phân phối độc quyền trên cả nước.</p>
			</div>
			<div class="tt-block-title">
				<h1 class="tt-title">TRIẾT LÝ KINH DOANH</h1>
				<p>TRIẾT LÝ KINH DOANH của TOPSHOE: là cung cấp những giá trị ĐÍCH THỰC cho khách hàng và các đối tác kinh doanh để thu về những lợi nhuận "sạch", xứng đáng với nỗ lực và công sức của cả tập thể công ty Hoàng Phúc. Bởi chúng tôi tin rằng đó là giá trị cốt lõi để duy trì sự phát triển bền vững của doanh nghiệp.</p>
				<p>* CHÂN THỰC trong tất cả các giá trị mang đến cho khách hàng và đối tác.</p>
				<p>* TRUYỀN CẢM HỨNG cho khách hàng, cho tập thể cán bộ nhân viên và các đối tác về những giá trị cốt lõi được thể hiện trong từng việc làm cụ thể của chúng tôi mỗi ngày.</p>
				<p>* ĐAM MÊ trong từng công việc đảm trách mỗi ngày để hôm nay luôn đạt được những kết quả tốt đẹp hơn so với hôm qua.</p>
				<p>* LIÊM CHÍNH: minh bạch trong mọi công việc hằng ngày và tuân thủ tốt các quy định hành xử kinh doanh theo pháp luật.</p>
				<p>* HẠNH PHÚC: là giá trị sâu sắc chúng tôi trao cho nhau mỗi ngày trong công ty, là giá trị cốt lõi sau cùng cho mọi việc cụ thể chúng tôi mang đến cho khách hàng và các đối tác.</p>
			</div>
		</div>
	</div>
</div>

<!-- footer -->
<footer th:replace="shopper/fragments/footer"></footer>

<!-- modal -->
<div th:replace="shopper/fragments/modal :: addToCart"></div>
<div th:replace="shopper/fragments/modal :: quickView"></div>
<div th:replace="shopper/fragments/modal :: videoProduct"></div>
<div th:replace="shopper/fragments/modal :: subsribeGood"></div>

<script src="external/jquery/jquery.min.js"></script>
<script src="external/bootstrap/js/bootstrap.min.js"></script>
<script src="external/slick/slick.min.js"></script>
<script src="external/panelmenu/panelmenu.js"></script>
<script src="external/lazyLoad/lazyload.min.js"></script>
<script src="js/main.js"></script>
<!-- form validation and sending to mail -->
<script src="external/form/jquery.form.js"></script>
<script src="external/form/jquery.validate.min.js"></script>
<script src="external/form/jquery.form-init.js"></script>
<!-- custom -->
<script src="js/toastr.min.js" type="text/javascript"></script>
<script src="js/header.js" type="text/javascript"></script>
</body>
</html>