<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Services</title>
	<meta name="keywords" content="TopShoe">
	<meta name="description" content="TopShoe - Services">
	<meta name="author" content="wokiee">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<base th:replace="shopper/fragments/common :: base">
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="css/theme.css">
</head>
<body>

<!-- header -->
<header th:replace="shopper/fragments/header"></header>

<div class="tt-breadcrumb">
	<div class="container">
		<ul>
			<li><a href="/index">Home</a></li>
			<li>What We Do</li>
		</ul>
	</div>
</div>
<div id="tt-pageContent">
	<div class="container-indent">
		<div class="container container-fluid-custom-mobile-padding">
			<h1 class="tt-title-subpages noborder">WHAT WE DO</h1>
			<div class="tt-box-thumb-listing">
				<div class="row">
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="tt-box-thumb">
							<a href="#" class="tt-img"><img src="images/loader.svg" data-src="images/custom/services-img-01.jpg" alt=""></a>
							<h6 class="tt-title"><a href="#">FUTURE LEADERS</a></h6>
							<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
						</div>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="tt-box-thumb">
							<a href="#" class="tt-img"><img src="images/loader.svg" data-src="images/custom/services-img-02.jpg" alt=""></a>
							<h6 class="tt-title"><a href="#">POWERFUL SOLUTIONS</a></h6>
							<p>Dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
						</div>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="tt-box-thumb">
							<a href="#" class="tt-img"><img src="images/loader.svg" data-src="images/custom/services-img-03.jpg" alt=""></a>
							<h6 class="tt-title"><a href="#">PROGRESSIVE TOOLS</a></h6>
							<p>Ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
						</div>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="tt-box-thumb">
							<a href="#" class="tt-img"><img src="images/loader.svg" data-src="images/custom/services-img-04.jpg" alt=""></a>
							<h6 class="tt-title"><a href="#">CREATIVE PROJECTS</a></h6>
							<p>Sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
						</div>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="tt-box-thumb">
							<a href="#" class="tt-img"><img src="images/loader.svg" data-src="images/custom/services-img-05.jpg" alt=""></a>
							<h6 class="tt-title"><a href="#">INNOVATION EXPERTS</a></h6>
							<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
						</div>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="tt-box-thumb">
							<a href="#" class="tt-img"><img src="images/loader.svg" data-src="images/custom/services-img-06.jpg" alt=""></a>
							<h6 class="tt-title"><a href="#">LEADING STRATEGIES</a></h6>
							<p>Dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- footer -->
<footer th:replace="shopper/fragments/footer"></footer>

<!-- modal -->
<div th:replace="shopper/fragments/modal :: subsribeGood"></div>

<script src="external/jquery/jquery.min.js"></script>
<script src="external/bootstrap/js/bootstrap.min.js"></script>
<script src="external/slick/slick.min.js"></script>
<script src="external/panelmenu/panelmenu.js"></script>
<script src="external/lazyLoad/lazyload.min.js"></script>
<script src="js/main.js"></script>
<!-- form validation and sending to mail -->
<script src="external/form/jquery.form.js"></script>
<script src="external/form/jquery.validate.min.js"></script>
<script src="external/form/jquery.form-init.js"></script>
<!-- custom -->
<script src="js/header.js" type="text/javascript"></script>
</body>
</html>